[Desktop Entry]
Name[it]=Effetti del desktop
GenericName[it]=Configurazione di Compton
Comment[it]=Configura gli effetti speciali di Compton

#TRANSLATIONS_DIR=translations
